<div class="row widget country">
  <div class="form-group col-md-12 selection">
    <label for="exampleInputEmail1">Seleccione la el pais</label>
    <select (change)= "change($event)" name="company">
      <option value="">Seleccione</option>
      <option value="DOM" >Rep Dominicana</option>
      <option value="PRI">Puerto Rico</option>
      <option value="VEN">Venezuela</option>
      <option value="USA">Estados Unidos</option>
      <option value="IRL">Irlanda</option>
    </select>
  </div>
</div>
